# ==========================================
#                  GitTrail 
# ==========================================

output/*

configs/*
!configs/presets/

git_histories/*

# ==========================================
#                  Generic
# ==========================================

# VEnv
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/

#OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
Desktop.ini

