# ==========================================
#                  GitTrail 
# ==========================================

output/*
!output/.gitkeep

configs/*
!configs/.gitkeep
!configs/presets/
!configs/presets/**

git_histories/*
!git_histories/.gitkeep



# ==========================================
#                  Generic
# ==========================================

# VEnv
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/

.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
Desktop.ini

